body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  width: 275px;
}

.bold {
  font-weight: bold;
}

.selected {
  font-weight: bold;
}

.winnerSquare {
  background-color: forestgreen;
}

.winnerText {
  color: forestgreen;
  font-weight: bold;
}

.drawText {
  color: red;
  font-weight: bold;
}

/* Added Functionality */
.timer {
  margin-left: 20px;
  width: 175px;
}

.clocks {
  margin-left: 20px;
  width: 350px;
  background-color: lightblue;
  padding: 5px;
}

.ball {
  position: absolute;
  height: 40px;
  width: 40px;
}
.ballContainer {
  position: absolute;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}
.mouseTracker {
  margin-left: 20px;
  width: 202px;
  padding: 5px;
  background-color: lightcoral;
}
